{{#if resume.education.length}}
<section id='education'>
  <h2>Education</h2>
  {{#each resume.education}}
  <div class='vertical-description'>
    {{#if institution}}
    <div class='institution'>
      <heading>{{institution}}</heading>
    </div>
    {{/if}}
    {{#if studyType}}
    <span class='studyType'>{{studyType}}</span>
    {{/if}}
    {{#if endDate}}
    <span class='endDate'>({{endDate}})</span>
    {{/if}}
    {{#if area}}
    <span class='area'>- {{area}}</span>
    {{/if}}

    {{#if courses.length}}
    <ul class='courses'>
      {{#each courses}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}

  </div>
  {{/each}}
</section>
{{/if}}