{{#if resume.projects.length}}
<section id='projects'>
  <h2>Portfolio highlights</h2>

  <div class='vertical-description-container'>

    {{#*inline "content"}}
    <div class='vertical-description {{status}}'>
      {{#if name}}
      <div class='name'>
        <heading>
          {{name}}
          {{#if keywords}}
          <span class="keywords">
            ({{#each keywords}}{{this}}{{#if @last}}{{else}}, {{/if}}{{/each}})
          </span>
          {{/if}}
        </heading>
      </div>
      {{/if}}

      {{#if description}}
      <span class='description'>{{description}}</span>
      {{/if}}

      {{#if endDate}}
      <span class='endDate'>({{endDate}})</span>
      {{/if}}

      {{#if url.length}}
      {{#each url}}
      <span class='url'><a href={{this}}>{{this}}</a></span>
      <br>
      {{/each}}
      {{/if}}

      {{#if highlights.length}}
      <ul class='highlights'>
        {{#each highlights}}
        <li>{{{this}}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/inline}}

    {{#if development}}

    {{#each resume.projects}}
    {{> content}}
    {{/each}}

    {{else}}

    {{#each resume.projects}}
    {{#unless hidden}}
    {{> content}}
    {{/unless}}
    {{/each}}

    {{/if}}


  </div>
</section>
{{/if}}